@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.carousel {
  scroll-snap-type: none !important;
  overflow-x: visible !important; /* Prevent hiding other elements */
}

.carousel-item {
  scroll-snap-align: none !important;
}

.custom-carousel-item {
  display: flex;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}
